* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.navbar {
    font: 16px;
    top: 0;
    left: 0;
}

button {
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    outline: none;
    border-radius: none;
    padding: 10px 16px;
    background-color: black;
}

button:hover {
    color: black;
    background-color: coral;
    transition: 0.3s ease;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar img {
    width: 8%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
    margin-left: 20px;
    color: black;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s ease;

}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: coral;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: coral;
}

.navbar-expand-lg .navbar-nav i {
    margin-left: 30px;
    color: black;
}

.navbar-expand-lg .navbar-nav i:hover {
    transition: 0.3s ease;
    color: coral;
    cursor: pointer;
}

#home span {
    color: coral;
}

#home {
    background-image: url("assets/home2.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#brand .hero img {
    width: 20%;
    float: left;
}

#features {
    text-align: center;
}

#colu1 {
    background-image: url('assets/c1.png');
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
}

#colu1 h4:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

#colu2 {
    background-image: url('assets/c2.png');
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
}

#colu2 h4:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

#colu3 {
    background-image: url('assets/c3.png');
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
}

#colu3 h4:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease;
}